<div class="profile__modify">
  <div class="profile__modify-ali">
    <a href="/users/<%= current_user.id %>">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <span>프로필 수정</span>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:id => "profile__modify-con", method: :put}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <% if current_user.profile.attached? %>
    <img src="<%= url_for(current_user.profile) %>" alt="" class="profile_img rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <% else %>
    <img src="https://picsum.photos/200" alt="" class="profile_img rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <% end %>

    <div class="profile__modify__pic">
      <%= f.label :사진_업로드, :class=>"profile__modify__pic-label", :for=>"modi-pic"%><br />
      <%= f.file_field :profile, :id => "modi-pic", :style => "visibility: hidden;" %>
    </div>

    <div class="profile__modify__name">
      <%= f.text_field :name, :placeholder => "변경할 닉네임을 입력하세요"%>
    </div>

    <div class="profile__modify__name">
      <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "현재 비밀번호를 입력하세요" %>
    </div>

    <div class="profile__modify-input">
      <%= f.submit "변경", :class=>"profile__modify-input__btn"%>
    </div>
  <% end %>
</div>
<%= stylesheet_link_tag 'edit-profile', media: 'all', 'data-turbolinks-track' => true %>