<div class="reloc">
    <strong><span>용봉동</span></strong>
    <%= form_with url: "/rides", method: :get, local: true do |f| %>
    <div class = "search">
      <div>
        <%= f.label :출발지 %>
        <%= f.text_field :departure %>
      </div>
      <div>
        <%= f.label :도착지 %>
        <%= f.text_field :arrival %>
      </div>
      <div>
        <%= f.label :출발일 %>
        <%= f.date_field :start_date %>
        <%= f.submit :"검색"%>
      </div>
    </div>
    <% end %>
</div>
<% @rides.each do |ride| %>
<a href="rides/<%= ride.id %>">
  <div class="resinfo">
    <div class="resinfo__map">
      <img src="https://github.com/2021-oasis-hackathon/Bluepoint/blob/main/FE/exampleimage/mapexample.PNG?raw=true">
    </div>
    <div class="resinfo__detone">
      <span><%= ride.departure %> -> <%= ride.arrival %></span> <br>
      <%if ride.reservation != nil%>
      <span><%= ride.reservation.strftime("%m-%d %H:%M") %></span> <br>
      <%end%>
      <span><%= ride.memo %></span>
    </div>
    <div class="resinfo__dettwo">
      <span>출발 잔여 <%= ride.left %>석</span>   <br>
      <span class="money">예상 13000원</span>   <br>
      <% if ride.via %>
      <span class="via">동행 경유 가능</span> 
      <% end %>
      <% if ride.samesex %>
        <% if ride.user.sex==0 %>
      <span class="samesex">남성만 신청</span> 
        <% else %>
      <span class="samesex">여성만 신청</span> 
        <% end %>
      <% end %>
     </div>
  </div>
</a>
<% end %>


<br>
<div class="add__btn">
  <i class="fas fa-plus fa-2x">
  </i>
  <%= link_to '새글', new_ride_path %>
</div>


<nav class="nav">
  <ul type="none" class="nav__list">
    <li class="nav__btn">
      <a class="nav__link" href="#">
        <i class="fas fa-house-user fa-2x">
        </i>
      </a>
    </li>
    <li class="nav__btn">
      <a class="nav__link" href="chatlist.html">
        <i class="far fa-comment fa-2x"></i>
      </a>
    </li>
    <li class="nav__btn">
      <a class="nav__link" href="/users/<%= current_user.id %>">
        <i class="far fa-user fa-2x"></i>
      </a>
    </li>
  </ul>
</nav>
<%= stylesheet_link_tag 'ride', media: 'all', 'data-turbolinks-track' => true %>